* {
  box-sizing: border-box;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 68px;
  text-align: center;
  margin-bottom: 0.5em;
}

/* Body font */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(70,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(64,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='10.889999999999999'%3E%3Cpath transform='translate(-45.85 0.39999999999999947) rotate(-2.45 1409 581) scale(0.9639739999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.63' transform='translate(-64 37) rotate(2.1 800 450) scale(1.00091)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(4.500000000000002 -30) rotate(12 401 736) scale(1.00091)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.3'%3E%3Cpath transform='translate(222 3.200000000000001) rotate(-0.8000000000000003 150 345) scale(0.998658)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.26' transform='translate(-49 -101.5) rotate(3.6000000000000085 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-121.2 30.8) rotate(0.5999999999999996 1400 132) scale(0.91)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
/* Remove default padding from uls where bullets normally are */
ul {
  padding: 0;
}

/***** New bookmark form *****/
/* Blocks the form container div so we can center it */
.form-container {
  display: block;
  text-align: center;
}

/* Removes bullets from new bookmark form and centers */
.new-item-li {
  list-style-type: none;
  text-align: center;
  margin-top: 0.5em;
}

/***** Controls *****/
/* Add some space between new bookmark button and filter */
.controls {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

/* Add new bookmark button styles */
.add-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.edit-btn {
  margin-left: 10px;
  float: right;
}

/***** Bookmarks *****/
.bookmark-container {
  border-top: 3px solid #d1d1d1;
  padding-top: 1em;
  margin-top: 2em;
}

/* Makes the drop down look not tiny */
select {
  margin: auto 30px;
}

/***** Bookmarks list *****/
/* Styles for the bookmark headers */

.header-button:hover {
  border-color: #b9b9b9;
  background-color: #b9b9b9;
}

/* Styles for the bookmarks */
.bookmark-header {
  background-color: #d1d1d1;
  border-left: 2px solid #bdb9b9;
  border-right: 2px solid #bdb9b9;
  border-top: 2px solid #bdb9b9;
  border-bottom: 2px solid #bdb9b9;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bookmark-item {
  margin-top: 12px;
  list-style-type: none;
}

.bookmark-body {
  border-left: 2px solid #bdb9b9;
  border-right: 2px solid #bdb9b9;
  border-bottom: 2px solid #bdb9b9;
  padding-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.bookmark-body p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.bookmark-button {
  float: right;
}

/***** Utility *****/
/* Hidden class */
.hidden {
  display: none;
}

.add-btn-container {
  text-align: center;
  display: flex;
}

legend {
  color: #606060;
}

fieldset {
  border-color: #bdb9b9;
  border: 2px solid #bdb9b9;
}

/***** Style inputs *****/
input[type="text"],
input[type="url"],
textarea,
select {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 0.5em;
  text-align: left;
  width: 184.417px;
}

input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

textarea {
  min-height: 68px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border: 3px solid #aaa8a8;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.filter-control {
  float: right;
}

/***** Style buttons *****/
button,
.filter-control {
  background-color: transparent;
  border: 3px solid #d1d1d1;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 38px;
  letter-spacing: 0.05rem;
  line-height: 34px;
  padding: 0 26px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

button:hover {
  color: rgb(46, 45, 45);
  border-color: #858383;
  outline: 0;
}

/* Mobile "my buttons look fine!" media query */
@media (max-width: 460px) {
  #filter-label {
    float: none;
    display: inline-block;
    text-align: center;
  }

  select {
    float: none;
  }
  .controls {
    text-align: center;
  }

  .edit-btn {
    float: none;
  }

  .bookmark-button {
    float: none;
  }
}
